body{
    background: rgb(205, 229, 248);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header a{
    text-decoration:none;
}

.btn{
    width: 300px;
    height: 120px;
    border-radius: 10px;
    border: 0px solid black;
    background: rgb(4, 15, 172);
    color: white;
    transition-duration: 0.5s;
}


.predbtn{
    width: 150px;
    height: 60px;
    border-radius: 10px;
    border: 0px solid black;
    background: rgb(4, 15, 172);
    color: white;
    transition-duration: 0.5s;
}

.btn:hover{
    width: 150px;
    height: 70px;
}

#capture-button{
    width: 80x;
    height: 30px;
    border-radius: 10px;
    border: 0px solid black;
    background: rgb(4, 15, 172);
    color: white;
    transition-duration: 0.5s;
    position: fixed;
    bottom:50%;
    left:21%;
    transform: translate(0,-50%)
}

#upload-button{
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border: 0px solid black;
    background: rgb(4, 15, 172);
    color: white;
    transition-duration: 0.5s;
    position: fixed;
    bottom:50%;
    right:35%;
    transform: translate(0,-50%)
}

.captured_image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px; 
    height: 400px; 
    border: 4px solid black;
    position: fixed;
    bottom:17%;
    right:36%;
    
  }
  
#img {
    position: fixed;
    bottom:10%;
    right:35%;
    transform: translate(0,-50%)
  }

#predict-button{
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border: 0px solid black;
    background: rgb(4, 15, 172);
    color: white;
    transition-duration: 0.5s;
    position: fixed;
    bottom: 8%;
    right:  59%;
    transform: translate(0,-50%)
}

input[type="file"][name="image_file"] {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: 0px solid transparent; 
    background-color: rgb(4, 15, 172);
    color: white;
    cursor: pointer; 
    font-size: 14px; 
    text-align: center;
    transition-duration: 0.5s;
    position: fixed;
    top: 430%;
    left: 0%;

  }

  #bmi-container {
    margin-top: 20px; /* Adjust as needed for spacing */
    position: fixed;
    bottom:6%;
    right:38%;

  }
  
  #bmi-value {
    font-weight: bold;
    color: #090909;  /* Adjust the color as needed */
    bottom: 50%;
    right:  59%;
    
    
  }
  

  .flash-messages {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8d7da;  
    color: #721c24; 
    border: 1px solid #f5c6cb; 
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    width: 300px;  
}

.flash-messages p {
    margin: 0;
}

/* Add these styles at the end of your style.css file */

#clear-button {
    position: fixed;
    bottom: 40px; /* Adjust the top distance as needed */
    right: 200px; /* Adjust the right distance as needed */
    text-align: right;
}

.clearbtn {
    padding: 8px 16px;
    background-color: #f44336; /* Red color, you can change it */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.clearbtn:hover {
    background-color: #d32f2f; /* Darker red color on hover */
}

#clear-message {
    margin-top: 5px;
    color: #000000;
    font-size: 14px;
}
